* {
  box-sizing: border-box;
}

body {
  /* header의 공간 만큼 body에 마진값을 줘서 header와 겹치지 않게 하며,
     기본적으로 있는 user agent stylesheet의 margin값도 제거한다. */
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}