.sideBar_total_container {
    width: 300px;
    height: 100%;
    margin: 94px 15px 15px 15px;
}

.sideBar_title {
    padding: 12px;
    font-weight: bold;
    background-color: rgb(254, 236, 175);
    border-bottom: 1px solid rgb(254, 224, 125);
}

.sideBar_content_container {
    background-color: rgb(253, 239, 195);
    border-bottom: 1px solid rgb(254, 224, 125);
}

.sideBar_content {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 12px;
}
